@font-face {
    font-family: 'Brush Script';
    src: url('../font/BrushScript.ttf')  format('truetype'), /* Safari, Android, iOS */

}

@font-face {
    font-family: "Proxima-Nova";
    src: url("../font/FontsFree-Net-Proxima-Nova-Bold.otf") format("opentype");
}

#birthday {
    /* padding: 30px 0; */
    width: 100vw;
    /* max-width: 1200px; */
    height: 100vh;
    max-height: 560px;
    min-height: 500px;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 40px;
    align-items: center;
    z-index: 400;
    display: none;
}



#birthday-container {
    width: 100vw;
    max-width: 1200px;
    
    height: 100vh;
    max-height: 560px;
    min-height: 500px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(45deg, #0092f3,#1056c9, #082f6d);
    position: relative;
    overflow: hidden;
}

.rotator {
    position: absolute;
    
    /* width: 130vw; */
    width: 1440px;
    background-color: black;
    overflow-x: visible;
    overflow-y: hidden;
    /* align-items: center; */
    transform: rotate(-10deg);
    left: -100px;
    z-index: 450;
}


#rotator-s {
    /* position: relative; */
    top: -24px;
    height: 130px;
    z-index: 450;
}







.pic-holder-l {
    position: absolute;
    height: 135px;
    width: 190px;
    background-color: yellow;
    margin: 10px auto;
    /* display: none; */
    color: red;
    font-size: 30px;
    z-index: 460;
}

.pic-holder-s {
    position: absolute;
    height: 110px;
    width: 110px;
    
    background-color: yellow;
    margin: 10px 10px                                              ;
    /* margin-right: 20px; */
    /* display: none; */
    color: red;
    font-size: 30px;
    z-index: 460;
}

/* .pic-holder-l.active {
    display: block;
    animation: slideImages2 54s infinite linear;
}
.pic-holder-s.active {
    display: block;
    animation: slideImages 36s infinite linear;
} */

@keyframes slideImages {
    0% { transform: translateX(-150px) }
    100% {
        transform: translateX(1440px);
    }
}

@keyframes slideImages2 {
    0% { transform: translateX(-150px) }
    100% {
        transform: translateX(1480px);
    }
}


/* .pic-holder-s.active {
    display: block;
    animation: slideImages 18s infinite linear;
} */

#rotator-l .birthday-image-mask {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
    background-color: rgba(24, 24, 24, 0.1);
}
#rotator-s .birthday-image-mask {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
    background-color: rgba(24, 24, 24, 0.2);
}

#rotator-l {
    /* position: relative; */
    top: 146px;
    height: 155px;
}




.rotator img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

#birthday-song {
    height: 24px;
    top: 114px;
    border-color: #63a0d9;
    border-width: 2px;
    border-style: solid;
    background-color: rgb(201, 233, 255, 0.85);
}

#birthday-song::-webkit-scrollbar {
    display: none;
}


.song {
    position: absolute;
    top: 0;
    color: white;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    height: 21px;
    font-family: "Proxima-Nova";
    width:fit-content;
    padding: 1px 1px;
    /* display: none ; */
    /* left: 200px; */
}
/* .song.active {
    display: block;
    animation: slideText 70s infinite linear;
}

@keyframes slideText {
    0% { transform: translateX(1440px) }
    100% {
        transform: translateX(-300px);
    }
} */
#happy-birthday-text {
    height: 30px;
    top: 310px;
    border-color: #FFF2CC;
    border-width: 2px;
    border-style: solid;
    background-color: rgb(255, 207, 63, 0.98);
    /* text-align: center; */
    font-size: 18px;
    line-height: 21px;
    font-family: "Proxima-Nova";
    color: rgba(255, 251, 240, 0.806);
    text-transform: uppercase;
    font-weight: 700;
    /* padding-left: 20%; */
    padding-top: 4px;
}


#happy-birthday-pre {
    height: 25px;
    top: -57px;
    border-color: #FFF2CC;
    border-width: 2px;
    border-style: solid;
    background-color: rgb(255, 217, 102);

    font-size: 14px;
    line-height: 21px;

    font-family: "Proxima-Nova";
    color: rgba(255, 251, 240, 0.833);
    text-transform: uppercase;
    font-weight: 700;
    /* padding-left: 20%; */
    padding-top: 1px;
}


#color-block {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 500px;
    background-image: linear-gradient(90deg, rgb(16, 86, 201, 0),rgb(16, 86, 201, 0.2), rgba(18, 80, 180, 0.4), rgb(10, 56, 130, 0.5), rgb(8, 47, 109, 0.5), rgb(8, 47, 109, 0.5));
    z-index: 500;
}



#happy-birthday-container {
    position: absolute;
    right: 20px;
    top: 110px;
    height: 200px;
    width: 70%;
    /* margin: t; */
    margin-left: 24%;
    text-align: center;
    /* margin-top: 110px; */

    filter: drop-shadow(0rem 0rem 0.2rem rgba(43, 43, 43, 0.498));
}



#happy-birthday-container .number {
    font-family: 'Brush Script';
    color: #FFE699;
    font-size: 36px;
    transform: rotate(4deg);
    position: relative;
    right: -100px;
    top: -142px;
    text-align: center;
}
.birthday-text-l {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 42px;
    line-height: 50px;
}
.birthday-text-m {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 28px;
    line-height: 36px;
    transform: translateX(30px);
}
.birthday-text-s {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 26px;
    line-height: 34px;
    transform: translateX(0px);
}

#balloon-button-container{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 70%;
    text-align: center;
    filter: drop-shadow(0.1rem 0.1rem 0.2rem rgba(43, 43, 43, 0.5));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  

}

#balloon-button {
    position: absolute;
    /* right: 120px; */
    width: 180px;
    height: 54px;
    background-color: #ffd966;
    border-width: 3px;
    border-color: rgb(11, 66, 148);
    border-style: solid;
    border-radius: 23px; 
    padding: 9px 13px 10px 18px;
   
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 800;
}

@media (hover: hover) {
    #balloon-button:hover {
        transform: translateY(-1px);
    }
}

 #balloon-button:active {
    background-color: rgb(73, 146, 255); 
}
#balloon-button:active div {
    color: white;
}
#balloon-button:active img {
    filter: invert(100%) brightness(1000%);
} 

#balloon-button div {
    color: rgb(9, 52, 116);
    font-size: 18px;
    line-height: 28px;
}

#balloon-button img {
    width: 28px;
    height: 28px;
    margin-left: 5px;
}

#instruction {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 12px;
}

.a-balloon {
    animation-iteration-count: 1;
    position: absolute;
    top: 0;
    left: 0;
    
}
.a-balloon.front {
    z-index: 600;
    width: 250px;
    opacity: 0.9;
}

.a-balloon.back {
    z-index: 400;
    width: 250px;
    opacity: 0.95;

}
#balloon-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}




@media screen and (max-width: 575px){

    #birthday {
        max-height: 680px;
    }
    #birthday-container {
        max-height: 680px;
    }
    
    #balloon-button-container{
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        right: 0;
        height: 150px;
        width: 100%;
        margin-bottom: 10px;
    }
    
    #happy-birthday-container {
        transform: rotate(-1deg);
        position: absolute;
        right: unset;
        top: 55px;
        height: 100px;
        width: 100%;
        margin-left: unset;
        text-align: center;
    
        filter: drop-shadow(0rem 0rem 0.2rem rgba(43, 43, 43, 0.498));
    }
    .birthday-text-l {
        font-size: 37px;
        line-height: 45px;
        transform: translateX(-10px);
    }
    .birthday-text-m {
        font-size: 25px;
        line-height: 37px;
        transform: translateX(30px);
    }

    #happy-birthday-container .number {
        font-family: 'Brush Script';
        color: #FFE699;
        font-size: 36px;
        /* transform: rotate(4deg); */
        position: relative;
        right: -145px;
        top: -110px;
        width: 100%;
        text-align: center;
    }

    #balloon-button {
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        /* right: 120px; */
        /* margin-top: ; */
        width: 175px;
        height: 50px;
        background-color: #ffd966;
        border-width: 3px;
        border-color: rgb(11, 66, 148);
        border-style: solid;
        border-radius: 23px; 
        padding: 9px 13px 10px 18px;
        /* font-size: ; */
        
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    

    #balloon-button div {
        font-size: 16px;
        line-height: 26px;
    }
    
    #balloon-button img {
        width: 26px;
        height: 26px;
    }

    #instruction {
        position: absolute;
        bottom: 5px;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 12px;
        padding: 0 5%;
    }

    
    #color-block {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 60%;
        height: 40%;
        width: 100%;
        max-width: 500px;
        background-image: none;
        /* linear-gradient(90deg, rgb(16, 86, 201, 0),rgb(16, 86, 201, 0.2), rgba(18, 80, 180, 0.4), rgb(10, 56, 130, 0.5), rgb(8, 47, 109, 0.5), rgb(8, 47, 109, 0.5)); */
    }


    
}
/* Smartphones to tablets sm*/

#balloon-lg {
    width: 200px;
    height: auto;
    offset-path: path("M240,750 L200, -450"); 
}

#balloon-lg.animate {
    animation: balloon1 0.6s;
}

#balloon-lb {
    width: 200px;
    height: auto;
    offset-path: path("M100,750 L-50, -450"); 
}

#balloon-lb.animate {
    animation: balloon7 1.1s;
    animation-delay: 0.5s;
}



#balloon-b {
    width: 220px;
    height: auto;
    offset-path: path("M450,750 L450, -300");
}

#balloon-b.animate {
    animation: balloon1 0.75s;
    animation-delay: 0.05s;
}

#birthdaytoload {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#balloon-p {
    width: 200px;
    height: auto;
    offset-path: path("M600,800 L550, -600");
    
}

#balloon-p.animate {
    animation: balloon3 1.3s;
    animation-delay: 0.1s;
}


#balloon-r {
    width: 250px;
    height: auto;
    offset-path: path("M900,750 L950, -500");
    /* animation: balloon2 1.4s linear; */
}


#balloon-r.animate {
    animation: balloon0 0.6s;
    animation-delay: 0.01s;
}

#balloon-dg {
    width: 250px;
    height: auto;
    offset-path: path("M500,750 L500, -500");
    
}


#balloon-dg.animate {
    animation: balloon7 0.75s;
    animation-delay: 0.45s;
}

#balloon-rr {
    width: 100px;
    height: auto;
    offset-path: path("M330,750 L380, -500");
    
}

#balloon-rr.animate {
    animation: balloon5 1.7s;
    animation-delay: 0.3s;
}


#balloon-pr {
    width: 150px;
    height: auto;
    offset-path: path("M850,750 L950, -500");
    
}

#balloon-pr.animate {
    animation: balloon5 1.1s;
    animation-delay: 0.25s;
}



#balloon-or {
    width: 200px;
    height: auto;
    offset-path: path("M1100,750 L1100, -500");
    
}

#balloon-or.animate {
    animation: balloon5 0.9s;
    animation-delay: 0.45s;
}


#balloon-yy {
    width: 100px;
    height: auto;
    offset-path: path("M130,750 L80, -500");
    
}

#balloon-yy.animate {
    animation: balloon5 1.1s;
}

#balloon-br {
    width: 150px;
    height: auto;
    offset-path: path("M250,750 L250, -500");
    
}

#balloon-br.animate {
    animation: balloon6 1.1s;
    animation-delay: 0.2s;
}


#balloon-ly {
    width: 100px;
    height: auto;
    offset-path: path("M700,750 L750, -500");
    
}

#balloon-ly.animate {
    animation: balloon2 1.4s;
    animation-delay: 0.5s;
}



#balloon-gr {
    width: 150px;
    height: auto;
    offset-path: path("M700,750 L700, -500");
    /* animation: balloon2 1.4s linear; */
}

#balloon-gr.animate {
    animation: balloon5 0.9s;
}


#balloon-rs {
    width: 200px;
    height: auto;
    offset-path: path("M100,750 L70, -300");
}

#balloon-rs.animate {
    animation: balloon1 0.8s;
}

#balloon-y {
    width: 120px;
    height: auto;
    offset-path: path("M1000,750 L1100, -300");
    
}

#balloon-y.animate {
    animation: balloon4 1.3s;
    animation-delay: 0.2s;
}

.a-balloon {
    animation-timing-function: cubic-bezier(0.1, 0.2, 1, 1);
}
@keyframes balloon0 {
    0% {
        offset-distance: 0%;
        transform: rotate(90deg);
    }
    100% {
        offset-distance: 100%;
        transform: rotate(90deg);

    }
}

@keyframes balloon1 {
    0% {
        offset-distance: 0%;
        transform: rotate(90deg);
    }
    100% {
        offset-distance: 100%;
        transform: rotate(50deg);

    }
}

@keyframes balloon2 {
    0% {
        offset-distance: 0%;
        transform: rotate(90deg);
    }
    100% {
        offset-distance: 100%;
        transform: rotate(70deg);

    }
}

@keyframes balloon3 {
    0% {
        offset-distance: 0%;
        transform: rotate(110deg);
    }
    100% {
        offset-distance: 100%;
        transform: rotate(180deg);

    }
}



@keyframes balloon4 {
    0% {
        offset-distance: 0%;
        transform: rotate(110deg);
    }
    100% {
        offset-distance: 100%;
        transform: rotate(150deg);

    }
}

@keyframes balloon5 {
    0% {
        offset-distance: 0%;
        transform: rotate(110deg);
    }
    100% {
        offset-distance: 100%;
        transform: rotate(90deg);

    }
}

@keyframes balloon6 {
    0% {
        offset-distance: 0%;
        transform: rotate(110deg);
    }
    100% {
        offset-distance: 100%;
        transform: rotate(60deg);

    }
}


@keyframes balloon7 {
    0% {
        offset-distance: 0%;
        transform: rotate(90deg);
    }
    100% {
        offset-distance: 100%;
        transform: rotate(110deg);

    }
}


