/* OVERRIDE TWITTER BOOTSTRAP */
.bold { font-weight: bold; color: inherit; text-decoration: inherit; }
p { margin-block-start: 0; margin-block-end: 0; margin: 0; margin-inline-start: 0; margin-inline-end: 0; }
.link { color: #FFD996; }
@media (hover: hover) {
    .link:hover { color: #ffe0aa; }
    .link:active{ color: #ffe0aa; }
}
a:visited { color: #FFD966; }

button {
    background: transparent;
    border: none;
}
@media (hover: hover) {
    button:hover { color:#643f00; text-decoration: underline;}
    button:active{ color:#3f3625; text-decoration: underline;}
}

/* root{--bs-breakpoint-xs:0;--bs-breakpoint-sm:576px;--bs-breakpoint-md:768px;--bs-breakpoint-lg:992px;--bs-breakpoint-xl:1200px;--bs-breakpoint-xxl:1400px} */

/* notes */
/* d-lg-none d-xl-block*/
/* col-md-6 */

.mg-a--2 { margin-block-end: -0.2em; }
.mg-a--1 { margin-block-end: -0.1em; }
.mg-a-1 { margin-block-end: 0.1em; }
.mg-a-2 { margin-block-end: 0.2em; }
.mg-a-3 { margin-block-end: 0.3em; }
.mg-a-4 { margin-block-end: 0.4em; }
.mg-a-5 { margin-block-end: 0.5em; }
.mg-a-6 { margin-block-end: 0.6em; }
.mg-a-7 { margin-block-end: 0.7em; }
