body {
    background-color: black;
}
/* overside default styles for the following attribute */


* {
    margin: 0;
    padding: 0;
    border: 0;
}

.bold{
    font-weight: bold;
}

p {
    font-family: verdana;
}

a:visited {
    color: #FFD966; /* Visited link color */
}

/* Hover styles */
.link:hover {
    color: #fff2cc; /* Change color on hover */
}


/* Header */
/* all extended -> menu fold -> logo shrink */


/* For landscape orientation */
@media screen and (orientation: landscape) {
    /* For screens smaller than 600px wide */
    @media screen and (max-width: 650px) {
        .logo{
            background: url('../img/ellipse.png') no-repeat;
            background-size: 140px;
            position: fixed;
            width: 140px;
            height: 140px;
            color: transparent;
            transition: transform 0.4s ease;
            z-index: 999;
        }
        .logo-image{
            max-width: 86px; /* Maximum width of the image */
            max-height: 86px; /* Maximum height of the image */
            width: auto; /* Allow the width to adjust proportionally */
            height: auto; /* Allow the height to adjust proportionally */
            transform: rotate(-10deg); /* Stretch it vertically to form an ellipse */
            position: relative;
            top: 22px;
            left: 22px;
        }
    }
    /* For screens between 600px and 768px */
    @media screen and (min-width: 600px) and (max-width: 1000px) { 
        .logo{
            background: url('../img/ellipse.png') no-repeat;
            background-size: 165px;
            position: fixed;
            width: 165px;
            height: 165px;
            color: transparent;
            transition: transform 0.4s ease;
            z-index: 999;
        }
        .logo-image{
            max-width: 100px; /* Maximum width of the image */
            max-height: 100px; /* Maximum height of the image */
            width: auto; /* Allow the width to adjust proportionally */
            height: auto; /* Allow the height to adjust proportionally */
            transform: rotate(-10deg); /* Stretch it vertically to form an ellipse */
            position: relative;
            top: 25px;
            left: 25px;
        }

    }

    @media screen and (min-width: 1000px){
        .logo{
            background: url('../img/ellipse.png') no-repeat;
            background-size: 165px;
            position: fixed;
            width: 165px;
            height: 149px;
            color: transparent;
            transition: transform 0.4s ease;
            z-index: 999;
            
        }
        .logo-image{
            max-width: 100px; /* Maximum width of the image */
            max-height: 100px; /* Maximum height of the image */
            width: auto; /* Allow the width to adjust proportionally */
            height: auto; /* Allow the height to adjust proportionally */
            transform: rotate(-10deg); /* Stretch it vertically to form an ellipse */
            position: relative;
            top: 25px;
            left: 25px;
        }
        .ribbon {
            width: 450px; /* Width of the trapezoid */
            height: 50px; /* Height of the trapezoid */
            background-color: #FFD966;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); /* Create trapezoid shape */
            border-bottom-left-radius: 15px;
            position: fixed;
            justify-content: center;
            align-items: center;
            top: 0px; /* Distance from the top */
            right: 0px; /* Distance from the left */
            z-index: 999;
        }
        .ribbon-button {
            font-family: Arial, Helvetica, sans-serif;
            background-color: transparent;
            border: none;
            color: inherit;
            padding: 16px 10px;
            margin: 0 8px;
            font-size: 14px; 
            cursor: pointer;
            outline: none;
            font-weight: bold;
        }
        .ribbon-button.bold.left-most {
            font-weight: 1200;
            margin: 0 10px 0 25px;
        }
        .front-page{
            background: url('../img/background.png') no-repeat;
            background-size: 1200px;
            background-position: center; 
            height: 550px;
        }
        .front-page-text{
            background: transparent;
            padding:170px 0px 0px 0px;
            max-width: 60%;
            text-align: center;
        }

        #home-title{
            font-size: 40px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: bold;
            color: white;
        }

        #home-intro-emptyline{
            margin: 15px;
        }
        #home-intro-emptyline2{
            margin: 25px;
        }
        

        #home-intro{
            padding-top: 3px;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
        }

        #home-notice{
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }

        .headshot-image {
            position: absolute;
            width: 480px;
            right: 0px;
            top: 160px;
        }

    
        
    }
    p {
        font-size: 10%;
        color: green;
    }
    .portrait {
        display: none; /* Display when in landscape orientation */
    }
    .landscape {
        display: block; /* Display when in landscape orientation */
    }
}

/* For portrait orientation */
@media screen and (orientation: portrait) { 
    p {
        font-size: 5%;
        color: red;
    }
    .landscape {
        display: none; /* Display when in landscape orientation */
    }
    .portrait {
        display: block; /* Display when in landscape orientation */
    }
}


.logo:hover {
    transform: scale(1.05);
    
}
.logo:hover .logo-image{
    transform: rotate(5deg); 
} 
