body {
    background: black url('/img/background.jpg') no-repeat fixed center; ;
    /* background-size: cover; Cover the entire background */
    /* background-position: center; */
    /* Optional: Add more properties to adjust the background */
    /* background-color: black; */
    /* background-attachment: fixed; */
}


p {
    text-size-adjust: 0.58;
    font-family: verdana;
    color: green;
}
