body {
    background-color: black;
    background-image:url('/img/background.jpg') no-repeat fixed center; ;
    background-size: cover; /*Cover the entire background */
    /* background-position: center; */
    /* Optional: Add more properties to adjust the background */
    /* background-attachment: fixed; */
}

p {
    font-family: verdana;
}


/* For landscape orientation */
@media screen and (orientation: landscape) {
    p {
        font-size: 10%;
        color: green;
    }
    .portrait {
        display: none; /* Display when in landscape orientation */
    }
    .landscape {
        display: block; /* Display when in landscape orientation */
    }
 }

/* For portrait orientation */
@media screen and (orientation: portrait) { 
    p {
        font-size: 5%;
        color: red;
    }
    .landscape {
        display: none; /* Display when in landscape orientation */
    }
    .portrait {
        display: block; /* Display when in landscape orientation */
    }
}