body {
    background-image: url('/img/background.jpg');
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the image */
    /* Optional: Add more properties to adjust the background */
    background-repeat: no-repeat;
    background-color: black;
    /* background-attachment: fixed; */
}


p {
    text-size-adjust: 0.58;
    font-family: verdana;
    color: green;
}
