.container{
    padding:200px 20px 200px 20px;
    text-align:center;
    color:#FFF;
    font-weight:bold;
}
.section-1{
    background-image:url(http://static4.wikia.nocookie.net/__cb20130612023354/harrypotter/images/d/d1/Gradient-blue-background.jpg);
    background-position:center;
}
.section-2{
    background-image:url(http://th00.deviantart.net/fs49/PRE/f/2009/207/e/d/Orange_Desktop_Background_by_The_Dogfather.png);
    background-position:center;
}
.section-3{
    background-image:url(http://oaklandbaptist.org/media/Green-Background.jpg);
    background-position:center;
}
