#article-title {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    /* background-color: red; */
}

h1, h2, h3, h4, h5, h6 {
    color: #fff9e9;
    font-weight: 600;
}

#overflow-container {
    position: relative;
    
    /* width: 125vw; */
    /* height: 200px; */
    /* background-color: red; */
}

#article-container {
    /* margin-top: 30px; */
    /* padding: 30px 0; */
    position: relative;
    top:0;
    left: 0;
    width: 100vw;
    /* background-color: rgba(137, 43, 226, 0.452); */
    z-index: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* overflow: visible; */
    clear:none;

    /* background-color: yellow; */
}

#article-text {
    margin-top: 40px;
    /* margin-left: auto; */
    /* margin-right: auto; */

    /* width: 100vw; */
    padding: 0px 5%;
    clear:none;
    /* background-color: rgba(121, 121, 121, 0.066); */
}

#article-color {
    width: 100%;
    padding: 6%;
    background-color: rgba(121, 121, 121, 0.066);
}

#article-text p {
    font-weight: 200;
    /* color: rgb(209, 209, 209); */
    /* font-family: "Lexend Deca",sans-serif; */
}

pre {
    position: relative;
    margin: 10px 0;
}

pre small {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 11px;
    height: 20px;
    /* width: 20px; */
    /* text-transform: capital */
    font-weight: bold;
    padding: 1px 5px 3px 5px;
    border-bottom-left-radius: 3px;
    color: white;
}

#content-block {
    margin-top: 40px;
    /* float: right; */
    position: sticky;
    position: -webkit-sticky;
    /* margin-top: 40px; */
    /* margin-right: 20px; */
    top: 15vh;
    /* left: 100vw; */
    /* background-color: rgb(160, 55, 55); */
    z-index: 800;
    border-radius: 10px;
    background-color: rgba(55, 55, 55, 0.95);
    /* background-color: olivedrab; */
    /* background-color: rgba(255, 217, 102, 0.4); */
    /* background-color: #ffe085; */
    /* background-color: #93814c48; */
    height: 75vh;
    max-height: 800px;
    padding: 20px 10px;
    border-color: #ffe1861c;
    border-width: 1px;
    border-style: solid;
    filter: drop-shadow(0rem 0rem 0.02rem rgba(255, 235, 180, 0.1));
}

#content-content {
    height: 100%;
    overflow-y: scroll;
    /* background-color: rgba(255, 255, 255, 0.325); */
    
}

ol { counter-reset: item }
ol li{ display: block }
ol li:before { content: counters(item, ".") " "; counter-increment: item }

li {
    color: #fff9e5d8;
    /* color: rgba(0, 0, 0, 0.9); */
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    line-height: 1.5em;
    /* font-weight: 600; */
}


ol {
    padding-inline-start: 20px;
}



#fold-unfold-button {
    position: absolute;
    top: 50%;
    left: -20px;
    width: 40px;
    height: 80px;
    transform: translateY(-50%);
    /* display: flex; */
    /* justify-content: center; */
    background-color: red;
}

#fold-unfold-button img{
    /* display: none; */
    position: absolute;
    top: 18px;
    width: 10px;
    height: auto;
    opacity: 0.15;
    /* opacity: 0; */
}

#unfold-button {
    left: 3px;
    
}

#fold-button {
    right: 3px;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    /* overflow-x: hidden; */
    /* overscroll-behavior-x: hidden; */
}

.callout {
    border-left: #ffd966;
    border-left-width: 3px;
    border-left-style: solid;
    padding: 10px;
    margin: 15px 0;
    background-color: #ffd96613;
    border-radius: 1px;
    font-size: 110%;
}

.quote {
    font-style: italic;
    text-align: center;
}

.quote hr {
    background-color: #ffdf7f;
    border-radius: 0.5px;
    border: 0 none;
    opacity: 0.8;
    /* color: ; */
    height: 1px;
        /* color:#ffd966f7; */
    margin: 6px 30%;
}

.quote p {
    /* padding: 5px; */
    color: #ffe7a0;
    padding: 0 10%;
}

.img-division {
    margin: 15px auto;
}
.img-container {
    margin-left:auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    position: relative;
}

/* .img-container:active {
    width: 100%;
} */
.caption {
    margin-left:auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    position: relative;
    font-size: 13px;
    line-height: 17px;
    color: grey;
}
.caption.active-caption {
    width: 100%;
}
.img-container.active-container {
    width: 100%;
}
.img-container img {
    width: 100%;
    height: 100%;
}




.article-img-mask {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
    background-color: rgba(24, 24, 24, 0.35);
}
.article-img-mask.active-mask {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
    background-color: rgba(24, 24, 24, 0.0);
}


::-webkit-scrollbar {
    width: 5px;
    /* margin-right: 10px; */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(26, 26, 26);
    border-radius: 5px;
    /* margin-right: 5px; */
    padding-right:0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: #fffcf3e0;  */
    background: #fff4d4d7;
    border-radius: 10px;
  }
/* Smartphones xs*/
@media screen and (max-width: 575px) and (orientation: portrait){
    #article-container { width: 100; position: absolute;}
    /* #article-title { height: 65vh; max-height: 480px;} */
    #article-title { position: absolute; top: -100vh; height: 100vh; max-height: 700px;}
    
    .ITB-text { padding: 3% 5%; }

    #overflow-container {
        width: 100vw;
        /* position: absolute; */
        /* top: 0; */
        /* left: 0; */
        /* transform: translateX(-50vh); */
    } 

    #overflow-container {
        margin: 100vh 0 0 0;
        width: 100vw;
        /* display: flex; */
        position: absolute;
        height: 2500px;
        /* overflow-x: hidden; */
    }
    #article-text {width: 100vw;
        /* transform: translateX(50vh); */
    }
    /* #content-block {
        width: 80vw;
        height: 60vh;
        top:0;
        margin-top: 0;

    } */
    #content-block {
        display: none;
        width: 280px;
        /* top: 0; */
        /* right: 0;  */
        margin-left: 100vw;
        /* height: 1; */
        /* align-self: flex-end; */
        background-color: red;
        
    }
    body {
        overflow-x: hidden;
    }
    #content-block{
        /* transform: translateY(65vh); */
    }

    ol > li { margin-top: 2px; font-size: 18px;}
    ol >  ol > li { margin-top:0; font-size: 16px;}
    ol >  ol > ol > li {margin-top:0;font-size: 15px;}
}


/* Smartphones xs*/
@media screen and (max-width: 575px) and (orientation: landscape){
    #article-container { width: 100vw; }
    #article-title { height: 100vh; }
    #atricle-content {
        width: 100%;
        padding: 20px 30px;   
    } 


    #overflow-container {
        width: 150vw;
    }
    #article-text {width: 100vw;}
    #content-block {
        width: 50vw;
        
    }
    /* #content-block{
        transform: translateX(-53vw);
    } */

    ol > li { margin-top: 2px; font-size: 16px;}
    ol >  ol > li { margin-top:0; font-size: 14px;}
    ol >  ol > ol > li {margin-top:0;font-size: 13px;}
}

@media screen and (min-width:576px) and (max-width: 767px) and (orientation: portrait) {

}

/* Smartphones to tablets sm*/
@media screen and (min-width:576px) and (max-width: 767px) {
    #article-container { width: 100vw; }
    #article-title { height: 100vh; }
    #atricle-content {
        width: 100%;
        padding: 20px 30px;   
    } 
    #content-table {
        /* position: fixed; */
        border-radius: 0;
        width: 90vw;
        height: 100vh;
        right: 0;
    }

    #overflow-container {
        width: 145vw;
    }
    #article-text {width: 100vw;}
    #content-block {
        width: 45vw;
    }
    /* #content-block{
        transform: translateX(-47vw);
    } */

    ol > li { margin-top: 2px; font-size: 16px;}
    ol >  ol > li { margin-top:0; font-size: 14px;}
    ol >  ol > ol > li {margin-top:0;font-size: 13px;}

}

/* Portrait tablets md*/
@media screen and (min-width:768px) and (max-width: 991px) {
    
    #article-container { width: 100vw; }
    #article-title { height: 100vh; max-height: 800px;}
    #atricle-content {
        width: 100%;
        padding: 20px 30px;   
    } 
    #overflow-container {
        width: 135vw;
    }
    #article-text {width: 90vw;  margin-left: 5vw;}
    #content-block {
        width: 35vw;
        height: 60vh;
        /* background-color: red; */
    }
    /* #content-block{
        transform: translateX(-37vw);
    } */

    ol > li { margin-top: 2px; font-size: 16px;}
    ol >  ol > li { margin-top:0; font-size: 14px;}
    ol >  ol > ol > li {margin-top:0;font-size: 13px;}
}

/* Default lg*/
@media screen and (min-width:992px) and (max-width: 1199px) {
    
    #article-container { width: 100vw; max-width: 1200px; }
    #article-title { position: absolute; top: -100vh; height: 100vh; max-height: 700px;}
    #atricle-content {
        width:70%;
        padding: 20px 30px;   
    } 
    #overflow-container {
        margin: 100vh 0 0 0;
        width: 100vw;
        /* display: flex; */
        position: absolute;
        height: 2500px;
        overflow-x: hidden;
        overscroll-behavior: none;
    }
    #article-text {
        position: absolute;
        top:  -100vh; 
        left: 0;
        /* transform: translateY(-100vh); */
        width: 75vw; 
        margin-left: 12.5vw;}
    #content-block {
        
        width: 280px;
        top: 0;
        right: 0; 
        margin-left: 100vw;
        /* height: 1; */
        /* align-self: flex-end; */
        background-color: red;
        
    }
    body {
        overflow-x: hidden;
    }
    ol > li { margin-top: 2px; font-size: 16px;}
    ol >  ol > li { margin-top:0; font-size: 14px;}
    ol >  ol > ol > li {margin-top:0;font-size: 13px;}
}

/* Large display el*/
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    #article-container { width: 1200px; margin: 0 auto;}
    #article-title {height: 700px;}
    #atricle-content {
        width:70%;
        padding: 20px 30px;   
    } 
    #overflow-container {
        width: 125vw;
    }
    #article-text {
        width: 75vw; 
        margin-left: 12.5vw;}
    #content-block {
        width: 25vw;
        margin-top: 500px;
    }
    /* #content-block{
        transform: translateX(-26vw);
    } */

    ol > li { margin-top: 2px; font-size: 16px;}
    ol >  ol > li { margin-top:0; font-size: 14px;}
    ol >  ol > ol > li {margin-top:0;font-size: 13px;}
}

@media screen and (min-width: 1400px) {
    #article-container { width: 1200px; margin: 0 auto;}
    #article-title { height: 700px;}
    #atricle-content {
        width:80%;
        padding: 20px 30px;   
    } 
    #overflow-container {
        width: 125vw;
    }
    #article-text {width: 75vw;margin-left: 12.5vw;}
    #content-block {
        width: 25vw;
    }
    /* #content-block{
        transform: translateX(-26vw);
    } */

    ol > li { margin-top: 2px; font-size: 16px;}
    ol >  ol > li { margin-top:0; font-size: 14px;}
    ol >  ol > ol > li {margin-top:0;font-size: 13px;}
}