
.block-container {
  position: relative;
  width: 300px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  overflow: hidden;
}

.subblock {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.subblock.active {
  display: block;
}

.subblock.active.left {
  animation: shiftLeft 1s ease-in-out;
}

@keyframes shiftLeft {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
}

.subblock.active.right {
  animation: shiftRight 1s ease-in-out;
}

@keyframes shiftRight {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(100%);
  }
}



.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
