
.block-container {
  position: relative;
  width: 300px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  overflow: hidden;
  transform: rotate(3deg);
}

.subblock {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.subblock.active {
  display: block;
}

.subblock.active.left {
  animation: shiftLeft 1s ease-in-out;
}

@keyframes shiftLeft {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
}

.subblock.active.right {
  animation: shiftRight 1s ease-in-out;
}

@keyframes shiftRight {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(100%);
  }
}



.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.space {
  height: 100px;
  width: 100vw;
}

.rotator {
  height: 150px;
  width: 800px;
  background-color: black;
  overflow-x: visible;
  overflow-y: hidden;
}

.pic-holder {
  position: absolute;
  height: 130px;
  width: 150px;
  background-color: yellow;
  margin-top: 10px;
  animation: slideImages 5s infinite linear;
}

@keyframes slideImages {
  0% { transform: translateX(50vw) }
  50% {
    transform: translateX(0vw);
  }
  100% {
      transform: translateX(-50vw);
  }
}
